h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5
h6, .h6 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1rem;
}
h1, .h1,
h2, .h2  {
  line-height: rem(32);
}
h3, .h3,
h4, .h4 {
  line-height: rem(24);
}
h5, .h5
h6, .h6 {
  line-height: rem(16);
}