.pagination {

  .page-link {
    display: block;
    min-width: rem(36);
    line-height: rem(20);
    text-align: center;
    border-radius: var(--pagination-border-radius);
  }
  .page-link.active,
  .active > .page-link {
    z-index: unset; // почему-то в бутстрапе по умолчанию 3
  }
  @media screen and (min-width: 390px) {
    .page-link {
      min-width: rem(40);
      line-height: rem(24);
    }
  }
  @include media-breakpoint-up(md) {
    gap: $spacer * 0.5;
  }
}