.catalog {
  display: none;
  position: fixed;
  top: var(--catalog-top-offset);
  height: var(--catalog-height);
  left: 0;
  width: 100%;
  animation: fadeIn 0.15s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--white, $white);
  border-top: 1px solid var(--gray-100, $gray-100);
  z-index: 1;

  &.is-active {
    display: flex;
  }

  &-brands {
    display: flex;
    flex-flow: row wrap;
    gap: 8px 16px;

    &__link {
      display: flex;
      flex: 0 0 calc((100% / 3) - 11px);
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      max-width: calc((100% / 3) - 11px);
      height: 56px;
      padding: 12px;
      background: var(--gray-100, $gray-100);
      img {
        display: block;
        max-width: 100%;
        max-height: 40px;
        margin-bottom: 0;
        object-fit: contain;
        will-change: transform;
        transition: transform 0.25s ease-in-out;
      }
      &:hover img {
        transform: scale3d(1.03, 1.03, 1);
      }
    }
  }

  &-link {
    &__icon {
      display: flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
    }

    &__img {
      display: block;
      max-height: 34px;
    }

    &__img-s {
      max-width: 1.5rem;
      max-height: 24px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .has-brands {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }

  @include media-breakpoint-up(md) {
    position: absolute;
    height: calc(var(--catalog-height) - 3rem);
    bottom: unset;
    box-shadow: var(--box-shadow, $box-shadow);

    &-brands {
      gap: 8px 24px;

      &__link {
        flex: 0 0 calc((100% / 3) - 16px);
        max-width: calc((100% / 3) - 16px);
        padding: 10px;
        img {
          max-height: 36px;
        }
      }
    }

    &-link {
      &__icon {
        width: 24px;
        height: 24px;
      }

      &__img {
        display: block;
        margin-bottom: 8px;
      }

      &__img-s {
        max-width: 1.5rem;
        vertical-align: text-bottom;
      }
    }

    &-categories {
      position: relative;
      flex: 1 0 300px;
      max-width: 300px;
      height: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      background: var(--gray-100, $gray-100);

      &__list {
        margin: 0;
        padding: 0;
      }

      &__item {
        margin: 0;
      }

      &__link {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: $spacer;
        position: relative;
        padding: 12px 16px 12px 12px;
        color: var(--body-color, $body-color);
        font-size: 15px;
        line-height: 24px;

        &.is-active,
        &:hover {
          color: var(--primary, $primary);
          background-color: var(--white, $white);
        }
      }

      &::-webkit-scrollbar {
        margin-right: 4px;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05);
      }
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #cbcccd;
        border-radius: 4px;
      }
    }

    &-subcategories {
      position: relative;
      flex: 3 3 calc(100% - 300px);
      height: 100%;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto;
      &::-webkit-scrollbar {
        margin-right: 4px;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05);
      }
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #cbcccd;
        border-radius: 4px;
      }
    }

    &-subcategory {
      display: none;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.2s;

      a,
      span {
        color: var(--body-color, $body-color);
        font-size: 0.9375rem;
        line-height: 1.5rem;
      }

      a:hover {
        color: var(--link-color, $link-color);
      }

      ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
      }

      > ul {
        display: block;
        position: relative;
        columns: 1;

        > li {
          padding: 0 0 40px 0;
          break-inside: avoid;
          > a,
          > span {
            font-size: 1.0625rem;
            font-weight: 600;
            line-height: 1;
            pointer-events: auto;
          }
        }
      }

      &.is-active {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }

    .has-brands {
      padding-top: 0;
      // padding-bottom: 0;
      column-span: all;
    }
  }

  @include media-breakpoint-up(lg) {
    &-brands {
      &__link {
        flex: 0 0 calc((100% / 6) - 20px);
        max-width: calc((100% / 6) - 20px);
      }
    }
    &-subcategories {
      padding: 30px 20px;
    }
    &-subcategory > ul {
      columns: 3;
    }
  }
}

.catalog-page {
  &__nav {
    border-top: 1px solid var(--light, $light);

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &-item {
      margin: 0;
      border-bottom: 1px solid var(--light, $light);

      &.has-child {
        .catalog-page__nav-link .svg-icon {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 50%;
          right: 0;
          padding: 12px;
          transform: translateY(-50%);
          transition: transform 0.15s ease-in-out;
          will-change: transform;
        }
      }

      &.has-child.is-active {
        .catalog-page__nav-link .svg-icon {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }

    &-link {
      display: flex;
      gap: 5px;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 15px 40px 15px 0;
      color: var(--black, $black);
      font-size: 18px;
      font-weight: 600;
      outline: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        color: var(--primary, $primary);
        cursor: pointer;
      }
    }

    &-sub {
      height: 0;
      overflow: hidden;
      transition: height 0.15s ease-in-out;
      ul {
        padding: 0 0 15px 0;
        li {
          margin-bottom: calc($spacer * 0.5)
        }
      }
      a {
        color: var(--dark, $dark);
        &:hover {
          color: var(--primary, $primary);
        }
        &:focus {
          color: #757575;
        }
      }
    }
  }
}
