mixin shop-thumbs()
  .shop-thumbs.swiper&attributes(attributes)
    .shop-thumbs__wrapper.swiper-wrapper
      .shop-thumbs__slide.swiper-slide
        a(href="/assets/img/content/shop-dinamo-1.jpg")
          img(src="/assets/img/content/shop-dinamo-1.jpg").shop-thumbs__image
      .shop-thumbs__slide.swiper-slide
        a(href="/assets/img/content/shop-dinamo-2.jpg")
          img(src="/assets/img/content/shop-dinamo-2.jpg").shop-thumbs__image
      .shop-thumbs__slide.swiper-slide
        a(href="/assets/img/content/shop-dinamo-3.jpg")
          img(src="/assets/img/content/shop-dinamo-3.jpg").shop-thumbs__image
      .shop-thumbs__slide.swiper-slide
        a(href="/assets/img/content/shop-dinamo-4.jpg")
          img(src="/assets/img/content/shop-dinamo-4.jpg").shop-thumbs__image
      .shop-thumbs__slide.swiper-slide
        a(href="/assets/img/content/shop-dinamo-5.jpg")
          img(src="/assets/img/content/shop-dinamo-5.jpg").shop-thumbs__image
      .shop-thumbs__slide.swiper-slide
        a(href="/assets/img/content/shop-dinamo-6.jpg")
          img(src="/assets/img/content/shop-dinamo-6.jpg").shop-thumbs__image
      .shop-thumbs__slide.swiper-slide
        a(href="/assets/img/content/shop-dinamo-7.jpg")
          img(src="/assets/img/content/shop-dinamo-7.jpg").shop-thumbs__image
      .shop-thumbs__slide.swiper-slide
        a(href="/assets/img/content/shop-dinamo-8.jpg")
          img(src="/assets/img/content/shop-dinamo-8.jpg").shop-thumbs__image
      .shop-thumbs__slide.swiper-slide
        a(href="/assets/img/content/shop-dinamo-9.jpg")
          img(src="/assets/img/content/shop-dinamo-9.jpg").shop-thumbs__image
      .shop-thumbs__slide.swiper-slide
        a(href="/assets/img/content/shop-dinamo-10.jpg")
          img(src="/assets/img/content/shop-dinamo-10.jpg").shop-thumbs__image
    .shop-thumbs__prev.swiper-button-prev
    .shop-thumbs__next.swiper-button-next