mixin tags()
  nav.tags&attributes(attributes)
    ul.tags-list
      li.tags-item
        a(href="#").tags-link.is-active Honor
      li.tags-item
        a(href="#").tags-link Infinix
      li.tags-item
        a(href="#").tags-link Inoi
      li.tags-item
        a(href="#").tags-link Nokia
      li.tags-item
        a(href="#").tags-link Philips
      li.tags-item
        a(href="#").tags-link Poco
      li.tags-item
        a(href="#").tags-link Realme
      li.tags-item
        a(href="#").tags-link Samsung
      li.tags-item
        a(href="#").tags-link Sony
      li.tags-item
        a(href="#").tags-link Tecno
      li.tags-item
        a(href="#").tags-link Xiaomi