.tags {
  &-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-flow: row wrap;
    gap: $spacer *0.5;
    justify-content: flex-start;
    align-items: center;
  }
  &-item {
    display: inline-flex;
    font-size: var(--font-size-root, $font-size-root);
  }

  &-link {
    display: block;
    padding: $spacer *0.5;
    color: var(--body-color, $body-color);
    border: 1px solid var(--light, $light);
    background: var(--white, $white);

    &:hover {
      background-color: var(--gray-100, $gray-100);
    }

    &.active,
    &.is-active {
      color: var(--white, $white);
      background-color: var(--info, $info);
      cursor: default;
    }
  }
}