.footer,
.footer *,
.footer *:after,
.footer *:before {
  box-sizing: border-box;
}
.footer {
  font-size: 1rem;
  padding: 5rem 0 2rem;
}
.footer p {
  line-height: 2;
}
.footer ul:not(.footer-links) {
  line-height: 20px;
}
.footer small {
  font-size: 14px;
}
.footer-copyright {
  margin-top: 1rem;
  color: var(--color-medium-gray, #9a9a9a);
  font-size: 12px;
  line-height: 1.3 !important;
}
.footer-phone {
  font-size: 18px;
}
.footer-bottom {
  margin-top: 2rem;
}
.footer-links {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  list-style: none;
}
.footer-links a {
  color: var(--color-medium-gray, #9a9a9a);
  text-decoration: none;
}
.footer-links a:hover {
  color: var(--color-primary, #DC3E48);
}

.footer-toolbar,
.footer-toolbar *,
.footer-toolbar *:after,
.footer-toolbar *:before {
  box-sizing: border-box;
}
.footer-toolbar svg {
  fill: currentColor;
}
.footer-toolbar {
  position: sticky;
  bottom: 0;
  background: var(--color-white);
  border-top: 1px solid var(--color-light-gray);
  z-index: 4556;
}
.footer-toolbar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  width: 100%;
  color: var(--color-black);
  text-align: center;
  border: none;
  background-color: var(--color-white);
}
.footer-toolbar__item-image {
  width: 100%
}
.footer-toolbar__item-icon {
  display: flex;
  flex: 0;
  position: relative;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center
}
.footer-toolbar__item-icon svg {
  width: 28px;
  height: 28px
}
.footer-toolbar__item-text {
  display: block;
  max-width: calc(100% + 16px);
  font-size: .6875rem;
  line-height: 1.6;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.footer-toolbar__item-label {
  position: absolute;
  min-width: 24px;
  padding: 0 5px;
  top: -4px;
  right: -.75rem;
  color: var(--color-white);
  border-radius: 1000px;
  background-color: var(--color-alert)
}
.footer-toolbar__item.is-active .footer-toolbar__item-icon,
.footer-toolbar__item.is-active .footer-toolbar__item-text {
  color: var(--color-primary)
}