extends ../layouts/default

include ../../components/hero/hero

append vars
  -
    page.name  = "bonus"
    page.title = "Программа лояльности для покупателей ОГО!"
    //- page.showHeader = true
    //- page.showTitle = true
    //- page.showBreadcrumbs = true

prepend scripts
  //- Скрипты только для этой страницы

block content
  section.content-section
    +hero("/assets/img/content/bonus_ogo_w.jpg")

    h3 ПОНЯТНЫЕ БАЛЛЫ
    p 1 бонус = 1 рубль. За каждый товар предусмотрено своё вознаграждение в бонусах. Количество бонусов указано на сайте для каждого товара.
    br

    h3 НАЧИСЛЯЕМ ВСЕГДА!
    p Накапливайте бонусы за каждый купленный товар и оплачивайте ими от 25% до 50% покупки в зависимости от статуса. Бонусы начисляются и за покупки, оплаченные бонусами.
    br

    h3 ЦЕНЫ НИЖЕ!
    p Обладатели карт могут покупать товары по ценам "для своих", которые могут быть ниже обычных до 25% в зависимости от товара, а также участвовать в закрытых распродажах.
    br

    h3 Как вступить в программу?
    p Зарегистрируйтесь на сайте и получите виртуальную бонусную карту. После этого не забудьте активировать вашу карту в личном кабинете и получить дополнительные бонусы за быструю регистрацию.
    br

    h3 Как начисляются бонусы?
    p Бонусы начисляются на следующий день после каждой покупки. В отличие от многих других магазинов, мы начисляем бонусы даже за те покупки, которые Вы оплачиваете бонусами.
    p Бонусы не начисляются за покупки, сделанные со специальными индивидуальными скидками.
    br

    h3 Статусы участников
    p От вашего статуса зависит, какую часть покупки можно оплатить бонусами. Ваш статус зависит не от потраченной суммы, а от количества бонусов, которые вы накопили за период. Покупайте товары с «повышенными» бонусами и получайте статус Серебряный и Золотой быстрее!
    p Не обязательно покупать дорогие товары, чтобы получить много бонусов. Очень часто повышенные бонусы начисляются за недорогие сопутствующие товары и аксессуары!
    p Переход между статусами происходит в начале каждого календарного месяца.
    p Акция действует только на покупки, сделанные на условиях самовывоза в наших гипермаркетах или точках выдачи.
    br

    h3 Бонусы для корпоративных клиентов
    p Если вы покупаете для организации, бонусы за эти закупки могут быть начислены на вашу личную бонусную карту. Для того, чтобы бонусы были начислены, вы должны делать заказы либо из своего личного кабинета, либо указывать номер бонусной карты при каждом заказе. Бонусы начисляются на следующий день после отгрузки товара.
    br

    h3 Как потратить накопленные бонусы?
    p Потратить бонусы можно только в наших гипермаркетах или точках выдачи, назвав номер телефона и код подтверждения, полученный в смс.
    p Для этого карта должна быть предварительно зарегистрирована в вашем личном кабинете на нашем сайте!
    p.fw-semibold Обратите внимание, что заказ, оформленный на юридическое лицо, нельзя оплатить бонусами!
    br

    h3 Возврат бонусов при возврате товара
    p При возврате товара, оплаченного бонусами, возврат средств будет осуществлён так же, как и оплата заказа — сумма, оплаченная деньгами, будет возвращена в деньгах, а сумма, оплаченная бонусами, вернётся на бонусную карту. Бонусы, начисленные за покупку возвращаемого товара, будут списаны с бонусной карты.
    p В случае, если в одном заказе было несколько товаров, но Вы возвращаете только часть из них, возврат уплаченных средств будет осуществлён по принципу «Сначала бонусы, потом деньги». Например, если Вы купили два товара стоимостью 1000 рублей каждый, и оплатили бонусами 200 рублей + деньгами 1800 рублей, а возвращаете один из них, Вы получите 200 бонусов назад на бонусную карту, и 800 рублей деньгами. Бонусы на карту в таких случаях начисляются на следующий день после возврата товара.

    hr
    h2 СТАТУСЫ
    hr

    .row.g3-g-lg-4
      .col-12.col-lg-4
        h3.d-flex.align-center
          +svg-icon("ui--star-fill")(style="color: #DC3E48" class="me-2")
          | СТАНДАРТ

        p По умолчанию статус Вашей карты – «Стандарт». Вы можете накапливать бонусы и тратить их, оплачивая бонусами до 25% от стоимости покупки.
        p Например, если у вас есть 200 бонусов, а Вы совершаете покупку на 400 рублей, то Вы можете оплатить 100 рублей бонусами, и еще 100 рублей останутся на бонусном счете.
        p Как только количество бонусов, накопленных Вами за 6 месяцев, превысит 2000, Вы получите статус «Серебряный».

      .col-12.col-lg-4
        h3.d-flex.align-center
          +svg-icon("ui--star-fill")(style="color: #c0c0c0" class="me-2")
          | СЕРЕБРЯНЫЙ

        p Теперь Вы можете оплачивать бонусами до 35% от стоимости покупки.
        p Кроме того, за любые покупки Вы получаете +25 % бонусов, например: если Вы покупаете товар, за который полагается 100 бонусов, Вам будет начислено 125 бонусов.
        p Как только количество бонусов, накопленных Вами за 6 месяцев превысит 6000, вы получите статус «Золотой».
        p Для поддержания статуса необходимо получить 2000 бонусов за последние 6 месяцев.

      .col-12.col-lg-4
        h3.d-flex.align-center
          +svg-icon("ui--star-fill")(style="color: #ffbf00" class="me-2")
          | ЗОЛОТОЙ

        p Оплачивайте бонусами до 50% от стоимости покупки!
        p Ваша премия за статус теперь выросла до +50%.
        p Для поддержания статуса необходимо получить 6000 бонусов за последние 6 месяцев.
