extends ../layouts/default

include ../../components/hero/hero

append vars
  -
    page.name  = "delivery"
    page.title = "Доставка"
    //- page.showHeader = true
    //- page.showTitle = true
    //- page.showBreadcrumbs = true

prepend scripts
  //- Скрипты только для этой страницы

block content
  section.content-section.p-0
    +hero()

  section.content-section
    h2.content-section__title Курьерская доставка

    p Доставим заказ в согласованный день и временной интервал. Курьер позвонит за 30 – 60 минут до доставки. При получении заказа у вас будет 15 минут, чтобы проверить товары, убедиться в работоспособности и отсутствии механических повреждений.

    table.table.table--delivery
      thead
        tr
          th Зона доставки
          th 10:00 – 19:00
          th 18:00 – 24:00
      tbody
        tr
          td Москва в пределах МКАД
          td(data-th="10:00 – 19:00") 350 ₽
          td(data-th="18:00 – 24:00") 350 ₽
        tr
          td
            | Москва за МКАД
            br
            .text-dark.lh-base
              small Бутово, Жулебино, Коммунарка, Кожухово, Куркино, Митино, Некрасовка, Новокосино, Соларьево, Солнцево
          td(data-th="10:00 – 19:00") 490 ₽
          td(data-th="18:00 – 24:00") 490 ₽
        tr
          td
            | Подмосковье около МКАД
            br
            .text-dark.lh-base
              small Вёшки, Видное, Дзержинский, Долгопрудный, Котельники, Люберцы, Мытищи, Мякинино, Немчиновка, Новопеределкино, Пригород-Лесное, Реутов, Рублево, Ромашково, Сколково, Химки
          td(data-th="10:00 – 19:00") 490 ₽
          td(data-th="18:00 – 24:00") 490 ₽

    table.table.table--delivery
      thead
        tr
          th Зона доставки
          th Сумма заказа
          th Стоимость доставки
      tbody
        tr
          td В пределах Челябинска
          td.d-none.d-lg-table-cell
            | более 3 000 ₽
            br
            | менее 3 000 ₽
          td.d-none.d-lg-table-cell
            | бесплатно
            br
            | 150 ₽
        tr.d-lg-none
          td
          td(data-th="более 3 000 ₽") бесплатно
          td(data-th="менее 3 000 ₽") 150 ₽
        tr
          td
            | Удалённые районы Челябинска
            br
            .text-dark.lh-base
              small
                b Металлургический район:
                |  Аэропорт-1, Аэропорт-2, Каштак.
                br
                b Ленинский район:
                |  Сухомесово.
                br
                b Советский район:
                |  ул. Блюхера 211 ("Ариант"), Исаково, Малая Сосновка, Новосинеглазово, Сосновка, Таловка, Ухановка.
                br
                b Поселки, прилегающие к черте города:
                |  Белый Хутор, Вишнёвая Горка, Дубрава, Залесье, Западный, Западный-2, Звёздный, Казанцево, Красное Поле, Круглое, Лесной остров, Малинки Вилладж, Малиновка, Новоказанцево, Новое поле, Петровский, Просторы, Северный, Славино, Смолино, Соколиная гора, Холмс.

          td.d-none.d-lg-table-cell
            | более 3 000 ₽
            br
            | менее 3 000 ₽
          td.d-none.d-lg-table-cell
            | 150 ₽
            br
            | 300 ₽
        tr.d-lg-none
          td
          td(data-th="более 3 000 ₽") 150 ₽
          td(data-th="менее 3 000 ₽") 300 ₽

    p
      strong Способы оплаты:

    ul
      li Бансковской картой онлайн при оформлении заказа
      li Наличными при получении заказа

    p
      strong Условия доставки:

    p Если доставка заказа требует платного заезда на территорию или платную парковку (за исключением муниципальных парковок), необходимо возместить стоимость въезда/парковки.

    p Подъем товаров весом 25 – 50 кг на этаж с заносом в квартиру или офис возможен, если товар в упаковке проходит по габаритам в дверные проемы и лифт. В остальных случаях товары доставляются к подъезду или на лестничную площадку. Товары весом более 25 кг в здания без лифта доставляются только до 1 этажа, а более 50 кг только до входа в здание.

    p В зимнее время года, согласно инструкции производителей, включение товара в сеть 220В в течение 2 часов является нарушением правил эксплуатации.

    p С условиями гарантийного обслуживания и возврата товаров можно ознакомиться в разделе <a href="/pages/service">Гарантия и возврат</a>

  section.content-section
    h2.content-section__title Самовывоз из магазина

    p Выберите товар на сайте и оформите заказ с самовывозом из магазина. Ваш заказ можно забрать после получения SMS.

    p
      strong Способы оплаты:

    ul
      li Банковской картой онлайн при оформлении заказа
      li Наличными при получении заказа

  section.content-section
    h2.content-section__title Доставка транспортной компанией

    p Условия доставки зависят от выбранной транспортной компании.

    table.table.table--delivery
      thead
        tr
          th Служба доставки
          th Стоимость доставки
          th Срок доставки
      tbody
        tr
          td DPD
          td.d-none.d-lg-table-cell от 441 ₽
          td(data-th="от 441 ₽") от 2 рабочих дней
        tr
          td CDEK
          td.d-none.d-lg-table-cell от 536 ₽
          td(data-th="от 536 ₽") от 3 рабочих дней
        tr
          td Служба КурьерСервисЭкспресс
          td.d-none.d-lg-table-cell от 652 ₽
          td(data-th="от 652 ₽") от 3 рабочих дней

    p
      strong Способы оплаты:

    ul
      li Банковской картой онлайн при оформлении заказа
      li Наличными при получении заказа

  section.content-section
    h2.content-section__title Самовывоз из пункта выдачи или постамата

    p Выберите товар на сайте и оформите заказ с самовывозом. Выберите пункт выдачи или постамат, в котором вам будет удобно забрать заказ.

    table.table.table--delivery
      thead
        tr
          th Служба доставки
          th Стоимость доставки
          th Срок доставки
      tbody
        tr
          td DPD
          td.d-none.d-lg-table-cell от 275 ₽
          td(data-th="от 275 ₽") от 2 рабочих дней
        tr
          td CDEK
          td.d-none.d-lg-table-cell от 536 ₽
          td(data-th="от 536 ₽") от 3 рабочих дней
        tr
          td Служба КурьерСервисЭкспресс
          td.d-none.d-lg-table-cell от 652 ₽
          td(data-th="от 652 ₽") от 3 рабочих дней

    p
      strong Способы оплаты:

    ul
      li Банковской картой онлайн при оформлении заказа
      li Наличными при получении заказа