extends ../layouts/default

include ../../components/hero/hero

append vars
  -
    page.name  = "foreign"
    page.title = "Международная доставка"
    //- page.showHeader = true
    //- page.showTitle = true
    //- page.showBreadcrumbs = true

prepend scripts
  //- Скрипты только для этой страницы

block content
  section.content-section
    +hero("/assets/img/content/banner-foreign.jpg", "/assets/img/content/banner-foreign-small.jpg")
    p Теперь вы можете получить товары напрямую от продавца за рубежом, минуя посредников.
    p На нашем сайте продаются товары, доставляемые из-за рубежа. Товар продает наш собственный иностранный магазин, поэтому вы можете быть уверены в качестве и оригинальности товара. Мы предоставляем гарантия от нашего магазина на товары, доставленные из-за рубежа.

  section.content-section
    img(src="/assets/img/content/cart.png", alt="").mb-3

    h2.content-section__title Как сделать заказ
    p.mb-5 Оформление заказа происходит на нашем сайте. Вы просто кладете товар в корзину и переходите к оформлению заказа. Однако, условия оплаты и доставки немного отличаются от привычных покупок.

    h3.mb-2 Оплата заказа
    p.mb-5 Заказ необходимо сразу оплатить банковской картой на сайте.

    h3.mb-2 Условия и сроки доставки
    p.mb-5 При оформлении заказа вы можете выбрать доставку на дом или самовывоз из нашего магазина или ПВЗ. После оплаты нельзя изменить способ получения товара.<br>
      | Указав адрес доставки вы получите информацию о предполагаемых сроках прибытия вашего заказа. Как правило, доставка занимает несколько недель. Сроки доставки могут изменяться из-за таможенного оформления, праздничных дней и непредвиденных обстоятельств. При расчете сроков доставки учитываются все возможные факторы, но иногда могут возникать задержки.<br>
      | Мы будем оповещать вас на каждом шаге исполнения вашего заказа.

    h3.mb-2 Ограничения по количеству товаров

    p.mb-5 Не рекомендуем заказывать более трех одинаковых товаров в одной посылке. Такой заказ может быть классифицирован как оптовый и подлежать конфискации таможней. Если необходимо заказать более трех одинаковых товаров, рекомендуем разделить заказ на несколько посылок и оформить их от имени разных членов семьи.

    h3.mb-2 Совместные заказы с товарами из других разделов
    p.mb-5 Товары из-за рубежа не могут быть куплены в одном заказе с товарами из России.

    h3.mb-2 Внесение изменений в заказ
    p.mb-5 Изменение состава заказа и способа получения невозможно после оформления заказа.

    h3.mb-2 Отмена заказа
    p.mb-5 Вы можете отменить заказ до того, как его статус изменится на "Отправлен", после отменить заказ нельзя.<br>
      | Если доставка из-за рубежа задерживается на 30 дней и более от указанной даты доставки, вы можете подать заявку на отмену заказа.

  section.content-section
    img(src="/assets/img/content/terminal.png", alt="").mb-3

    h2.content-section__title Таможенные пошлины
    p.mb-5 Если суммарная стоимость товаров из-за рубежа в вашей корзине будет меньше 1000 евро, то такая корзина не будет облагаться таможенными пошлинами. Также существует порог беспошлинного веса посылки – 31кг.<br>Если суммарная стоимость зарубежных товаров в корзине превышает 1000 евро, то вам будет необходимо оплатить таможенную пошлину.

    h3.mb-2 Состав таможенного платежа
    ul
      li 5% от суммы превышения
      li дополнительный таможенный сбор в размере 500 рублей за весь заказ

    p.mb-5 Перед поступлением товара на таможню, вам будет отправлено SMS-сообщение со ссылкой для оплаты пошлины. Для успешного таможенного оформления оплата пошлины обязательна. Если вы хотите избежать пошлины, разделите заказ на несколько так, чтобы цена каждого нового заказа была меньше 1000 евро.<br>Если пошлина не будет оплачена, посылка останется лежать на складе таможни.

  section.content-section
    img(src="/assets/img/content/blackbox.png", alt="").mb-3

    h2.content-section__title Гарантия и возврат

    h3.mb-2 Возврат неисправного товара
    p.mb-5 Вы можете вернуть товар ненадлежащего качества или товар, который не соответствует описанию, поврежденный при доставке или имеющий недостающие компоненты. Возврат товара происходит после согласования и осуществляется через почтовую отправку за счет покупателя. В некоторых случаях мы можем покрыть расходы на возврат. Срок гарантии указан в описании товара.

    h3.mb-2 Возврат исправного товара
    p.mb-5 Товары надлежащего качества, доставленные из-за границы, не подлежат возврату.

    h3.mb-2 Гарантия на товары из-за рубежа
    p.mb-5 Несмотря на то что товары из-за рубежа не попадают под закон о защите прав потребителей, мы даем гарантию на все товары. Срок действия гарантии указан в описании каждого товара.
