extends ../layouts/default

include ../../components/categories-grid/categories-grid

append vars
  -
    page.name  = "market"
    page.title = "Каталог товаров в онлайн-гипермаркете ОГО!"
    //- page.showHeader = true
    //- page.showTitle = true
    //- page.showBreadcrumbs = true

prepend scripts
  //- Скрипты только для этой страницы

block content
  section.content-section
    +categories-grid--columns()