extends ../layouts/default

append vars
  -
    page.name  = "oferta"
    page.title = "Публичная оферта"
    //- page.showHeader = true
    //- page.showTitle = true
    //- page.showBreadcrumbs = true

prepend scripts
  //- Скрипты только для этой страницы

block content
  section.content-section
    p ООО «Гриффин Технолоджи», в лице интернет-магазина <a href="https://ogo1.ru">https://ogo1.ru</a> (далее — Продавец), публикует настоящий договор, являющийся публичным договором-офертой в адрес как физических, так и юридических лиц (далее — Покупатель) о нижеследующем:

    h2 1. Предмет договора-оферты.
    p 1.1. Продавец обязуется передать в собственность Покупателю, а Покупатель обязуется оплатить и принять заказанные в интернет-магазине <a href="https://ogo1.ru">https://ogo1.ru</a> (далее также — Сайт) товары (далее — Товар).
    p 1.2. Продавец осуществляет продажу Товаров через Интернет-магазин по адресу <a href="https://ogo1.ru">https://ogo1.ru</a>.
    p 1.3. Настоящие Условия продажи товаров, а также информация о Товаре, представленная на Сайте, являются публичной офертой в соответствии со ст.435 и п.2 ст.437 Гражданского кодекса Российской Федерации.
    p 1.4. Соглашение может быть изменено Продавцом в одностороннем порядке без уведомления Покупателя. Новая редакция Соглашения вступает в силу по истечении 10 (Десяти) календарных дней с момента ее опубликования на Сайте, если иное не предусмотрено условиями настоящего Соглашения.
    p 1.5. Публичная оферта признается акцептованной Покупателем с момента осуществления заказа Покупателем на Сайте. Договор розничной купли-продажи считается заключенным с момента получения Продавцом сообщения Покупателя о намерении заключить договор розничной купли-продажи, а именно, с даты подтверждения Продавцом созданного Покупателем заказа.
    p Сообщая Продавцу свой e-mail и номер телефона, Посетитель Сайта/Покупатель дает согласие на использование указанных средств связи Продавцом, а также третьими лицами, привлекаемыми им для целей выполнения обязательств перед Посетителями Сайта/Покупателями, в целях осуществления рассылок рекламного и информационного характера, содержащих информацию о скидках, предстоящих и действующих акциях и других мероприятиях Продавца, о передаче заказа в доставку, а также иную информацию, непосредственно связанную с выполнением обязательств Покупателем в рамках настоящей Публичной оферты.
    p 1.6. После подтверждения Заказа Продавцом товар резервируется для Покупателя на срок 2 (два) календарных дня.

    h2 2. Цена товара.
    p 2.1. Цена на каждую позицию Товара указана на сайте Интернет-магазина. Указанная на Сайте цена на Товар, временно отсутствующий в продаже, не является окончательной. При появлении Товара в продаже цена может измениться.
    p 2.2. Тарифы на оказание услуг по доставке Товара указаны на Сайте. Общая сумма заказа, которая включает платную доставку, указывается в разделе «Корзина» в строке «Итоговая стоимость».
    p 2.3. Продавец имеет право в одностороннем порядке изменить цену на любую позицию Товара. В случае изменения цены на заказанный Товар Продавец обязуется в течение количество дней проинформировать Покупателя об изменении цены Товара.
    p 2.4. В случае изменения цены на заказанный Товар Продавец обязуется проинформировать Покупателя об изменении цены Товара. Покупатель вправе подтвердить либо аннулировать Заказ на приобретение Товара, если цена изменена Продавцом после оформления Заказа.
    p 2.5. Изменение Продавцом цены на оплаченный Покупателем Товар не допускается.
    p 2.6. Обязательства Покупателя по оплате Товара считаются исполненными с момента поступления денежных средств на расчетный счет Продавца.
    p 2.7. Расчеты между Продавцом и Покупателем за Товар производятся способами, указанными на сайте Интернет-магазина при создании заказа.
    p 2.8. В случае аннуляции полностью, либо частично предоплаченного Заказа стоимость аннулированного Товара возвращается Продавцом Покупателю тем способом, которым Товар изначально был предоплачен.

    h2 3. Доставка Товара.
    p 3.1. Доставка Товара Покупателю осуществляется по адресу и в сроки, согласованные Покупателем и Продавцом при оформлении Заказа.
    p 3.2. Неполучение Покупателем Заказа или не совершение оплаты доставки, иных необходимых действий для принятия Товара могут рассматриваться Продавцом как отказ Покупателя от исполнения условий настоящего Договора и является основанием для аннулирования Заказа Продавцом.

    h2 4. Гарантии на Товар.
    p 4.1. На Товары, продающиеся на Сайте, имеются все необходимые документы, подтверждающие соответствие товаров установленным стандартам качества.

    h2 5. Права и обязанности сторон.
    p 5.1. Продавец обязуется:
    p 5.1.1. до заключения договора предоставить Покупателю информацию о Товаре, предусмотренную статьей 10 Федерального закона «О защите прав потребителей», а также информацию о порядке и сроках возврата товара.
    p 5.1.2. предоставить Покупателю возможность получения бесплатных телефонных консультаций по телефонам, указанным на Сайте.
    p 5.1.3. При отсутствии Товара на складе проинформировать об этом Покупателя в письменной (посредством электронной почты) или устной форме (посредством телефонной связи). В этом случае Покупатель вправе заменить отсутствующий Товар аналогичным Товаром/отказаться от данного Товара/ отменить Заказ.
    p 5.2. Продавец вправе:
    p 5.2.1. Продавец оставляет за собой право изменять настоящий договор в одностороннем порядке до момента его заключения.
    p 5.2.2. Продавец вправе предлагать к продаже товар, имеющий недостатки, указываемые в описании Товара на Сайте, а также в сопроводительной документации к Товару. Покупатель не вправе вернуть уцененный Товар Продавцу, если указанный Товар не подошел по форме, габаритам, фасону, расцветке, размеру или комплектации.
    p 5.2.3. В случае обнаружения Покупателем недостатков, которые не были оговорены Продавцом при продаже Товара, Покупатель вправе предъявлять требования о безвозмездном устранении недостатков, замене или расторжении Договора, предусмотренные законом, если докажет, что недостатки возникли до передачи Товара Покупателю или по причинам, возникшим до передачи.
    p 5.2.4. Продавец имеет право на осуществление записи телефонных переговоров с Покупателем.
    p 5.3. Покупатель обязуется:
    p 5.3.1. До момента заключения договора ознакомиться с содержанием договора-оферты, условиями оплаты и доставки на Сайте.
    p 5.3.2. Предоставлять достоверную информацию о себе (ФИО, контактные телефоны, адрес электронной почты) и реквизиты для доставки Товара.
    p 5.3.3. Принять и оплатить Товар в указанные в настоящем договоре сроки.
    p 5.4. Покупатель имеет право:
    p 5.4.1. По согласованию с Продавцом осуществить изменение или отмену заказа до момента доставки/ получения Товара.

    h2 6. Ответственность сторон и разрешение споров.
    p 6.1. Стороны несут ответственность за неисполнение или ненадлежащее исполнение настоящего договора в порядке, предусмотренном настоящим договором и действующим законодательством РФ.
    p 6.2. Продавец не несет ответственности за доставку заказа, если Покупателем указан неправильный адрес доставки.
    p 6.3. Продавец не несет ответственности за частичное или полное неисполнение обязательств по доставке товара, если они являются следствием форс-мажорных обстоятельств.
    p 6.4. Покупатель, оформляя заказ, несет ответственность за достоверность предоставляемой информации о себе, а также подтверждает, что с условиями настоящего договора ознакомлен и согласен.
    p 6.5. Все споры и разногласия, возникающие при исполнении сторонами обязательств по настоящему договору, решаются путем переговоров. В случае невозможности их устранения, Cтороны имеют право обратиться за судебной защитой своих интересов.
    p 6.6. В случае если по какой-либо причине Продавец не отгрузит товар Покупателю или отгрузит Товар с нарушением срока, ответственность Продавца за допущенное нарушение ограничивается исключительно продлением сроков доставки Товара.
    p 6.7. Продавец не несет ответственности за:

    p
      | a) какие-либо действия и/или бездействия, являющиеся прямым или косвенным результатом действий/бездействий каких-либо третьих сторон; <br>
      | б) какие-либо косвенные убытки и/или упущенную выгоду Покупателя и/или третьих сторон вне зависимости от того, мог Продавец предвидеть возможность таких убытков или нет;<br>
      | в) использование (невозможность использования) и какие бы то ни было последствия использования (невозможности использования) Покупателем выбранной им формы оплаты Товара.

    h2 7. Возврат и обмен товара.
    p 7.1. Возврат и обмен Товаров производится в соответствии с условиями раздела «Гарантия и сервис», размещенного на сайте <a href="https://ogo1.ru">https://ogo1.ru</a>.

    h2 8. Форс-мажорные обстоятельства.
    p 8.1. Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение обязательств по Договору на время действия непреодолимой силы. Под непреодолимой силой понимаются чрезвычайные и непреодолимые при данных условиях обстоятельства, препятствующие исполнению своих обязательств Сторонами по настоящему Договору. К ним относятся стихийные явления (землетрясения, наводнения и т. п.), обстоятельства общественной жизни (военные действия, чрезвычайные положения, крупнейшие забастовки, эпидемии и т. п.), запретительные меры государственных органов (запрещение перевозок, валютные ограничения, международные санкции запрета на торговлю и т. п.). В течение этого времени Стороны не имеют взаимных претензий, и каждая из Сторон принимает на себя свой риск последствия форс-мажорных обстоятельств.

    h2 9. Срок действия договора.
    p 9.1. Настоящий договор вступает в силу с момента оформления Заказа, и заканчивается при полном исполнении обязательств Сторонами.

    h2 10. Реквизиты интернет-магазина.

    p
      | 196240, Санкт-Петербург г, вн.тер.г. муниципальный округ Московская застава, Варшавская ул, дом 71,к.2, литера А, кв 17<br>
      | ИНН 7733765116<br>
      | ОГРН 1117746304884<br>
      | Контактный телефон +7 495 133 79 84