extends ../layouts/default

append vars
  -
    page.name  = "personal-configurations"
    page.title = "Конфигурации"
    //- page.showHeader = true
    //- page.showTitle = true
    //- page.showBreadcrumbs = true

prepend scripts
  //- Скрипты только для этой страницы

block content
  section.content-section
    h2.content-section__title