extends ../layouts/default

append vars
  -
    page.name  = "privacy"
    page.title = "Политика конфиденциальности"
    //- page.showHeader = true
    //- page.showTitle = true
    //- page.showBreadcrumbs = true

prepend scripts
  //- Скрипты только для этой страницы

block content
  section.content-section
    p Политика конфиденциальности персональных данных (далее — Политика) действует в отношении всей информации, которую Администрация сайта <a href="https://ogo1.ru">https://ogo1.ru</a> может получить о Пользователе во время использования им Сайта, предоставляемого Администрацией сайта, а также в ходе исполнения любых соглашений и договоров с Пользователем.

    h2 1. Общие положения
    p 1.1. Администрация сайта обрабатывает персональные данные на законной и справедливой основе для выполнения возложенных на Администрацию сайта законодательством функций, полномочий и обязанностей, осуществления прав и законных интересов Администрации сайта и Пользователей.
    p 1.2. Использование Сайта <a href="https://ogo1.ru">https://ogo1.ru</a>, а также его отдельных функций означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональных данных; в случае несогласия с этими условиями Пользователь должен воздержаться от использования Сайта.

    h2 2. Обработка и конфиденциальность персональных данных пользователя
    p 2.1. Настоящая Политика устанавливает обязательства Администрации сайта по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет при использовании Сайта.
    p 2.2. Категории персональных данных, которые Администрация сайта может собирать с Пользователей для предоставления доступа к функциям Сайта: фамилия, имя, отчество, дата рождения, пол, адрес регистрации или пребывания, номера контактных телефонов, адрес электронной почты.При оформлении заказа в разделе «Международная доставка», в зависимости от выбранного метода доставки, Пользователь предоставляет также паспортные данные в текстовом виде и/или фотокопию паспорта, ИНН. Администрация сайта оставляет за собой право запросить у Пользователя иные персональные данные, включая копии документов, необходимые для предоставления Пользователю сервиса «Международная доставка».
    p 2.3. Администрация сайта защищает данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц на сайте Сайта, на которых установлен статистический скрипт системы ("пиксель").
    p 2.4. Настоящая Политика применима только к информации, обрабатываемой в ходе использования Сайта. Администрация сайта не контролирует и не несет ответственность за обработку информации сайтами и Сайтами третьих лиц, на которые Пользователь может перейти по ссылкам, доступным внутри Сайта.
    p 2.5. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем, и не имеет возможности оценивать его дееспособность. Однако Администрация сайта исходит из того, что пользователь предоставляет достоверные и достаточные персональные данные и поддерживает их в актуальном состоянии., а также его отдельных функций означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональных данных; в случае несогласия с этими условиями Пользователь должен воздержаться от использования Сайта.

    h2 3. Цели сбора персональных данных пользователя
    p 3.1. Администрация сайта собирает и хранит только те персональные данные, которые необходимы для предоставления полного или частичного функционала Сайта или исполнения соглашений и договоров с Пользователем, за исключением случаев, когда законодательством предусмотрено обязательное хранение персональных данных в течение определенного законом срока.
    p 3.2. Администрация сайта обрабатывает персональные данные Пользователя в следующих целях: предоставление товаров и услуг (продуктов), организацию программы лояльности ОГО! (обеспечение процедуры начисления, учета и расходования бонусов), осуществление доставки, в том числе международной, предоставление сервисных услуг, распространение информационных и рекламных сообщений (по SMS, электронной почте, телефону, иным средствам связи), получение обратной связи, распространение рекламных сообщений, подготовленных в качестве личных рекомендаций для Пользователя с учетом анализа его покупательского поведения, подбор кандидатов на вакантные должности.

    h2 4. Условия обработки персональных данных
    p 4.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
    p 4.2. В отношении персональных данных Пользователя сохраняется их конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц. При использовании отдельных функций Сайта, Пользователь соглашается с тем, что определённая часть его персональной информации становится общедоступной.
    p 4.3. Пользователь соглашается на передачу своих персональных данных третьим лицам для их обработки в соответствии с целями, предусмотренными настоящим согласием, на основании договоров, заключенных Администрацией сайта <a href="https://ogo1.ru/">ogo1.ru</a> с этими лицами. Пользователь соглашается на трансграничную передачу персональных данных Пользователя, в том числе на территории иностранных государств для выполнения вышеуказанных целей обработки персональных данных.
    p 4.4. Обезличенные персональные данные Пользователя могут использоваться Компанией в статистических (и иных исследовательских целей) после получения заявления (отзыва) согласия, а также после достижения целей, для которых настоящее согласие было получено.
    p 4.5. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти только по основаниям и в порядке, установленными применимым законодательством. Подобное предоставление данных не считается разглашением. Пользователь также соглашается на передачу своих персональных данных третьим лицам, определяемым Администрацией сайта <a href="https://ogo1.ru">ogo1.ru</a>, в том числе, но не ограничиваясь, продавцам товаров, почтовым/курьерским службам, правоохранительным органам, в случаях необходимости проведения разбирательства по факту возможных противоправных действий.

    h2 5. Изменение и удаление персональных данных
    p 5.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленные им персональные данные или их часть, воспользовавшись функцией редактирования персональных данных в персональном разделе Сайта <a href="https://ogo1.ru/">https://ogo1.ru</a>, в случае, если она предусмотрена Сайтом, либо направив соответствующий запрос на электронную почту <a href="mailto:askme@ogo1.ru">askme@ogo1.ru</a>.
    p 5.2. Согласие на обработку и хранение персональных может быть отозвано Пользователем в любой момент путем направления письменного требования на электронный адрес <a href="mailto:askme@ogo1.ru">askme@ogo1.ru</a>.

    h2 6. Обработка перональных данных при помощи файлов cookie
    p 6.1. Файлы cookie, передаваемые Администрации сайта техническим устройствам Пользователя, могут использоваться для предоставления Пользователю персонализированных функций Сайта, для персональной рекламы, которая показывается Пользователю, в статистических и исследовательских целях, а также для улучшения Сайта.

    h2 7. Меры, применямые для защиты персональных данных пользователя
    p 7.1. Администрация сайта принимает необходимые и достаточные организационные и технические меры для защиты персональных данных Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
