extends ../layouts/default

include ../../components/forms/forms

append vars
  -
    page.name  = "registration"
    page.title = "Регистрация"
    //- page.showHeader = true
    //- page.showTitle = true
    //- page.showBreadcrumbs = true

prepend scripts
  //- Скрипты только для этой страницы

block content
  section.content-section
    .row
      .col-mb-8.col-lg-6
        +form-registration(false).mb-3
        p Уже зарегистрированы?
          a(href=process.env.AUTH_URL).js-auth-popup Войти