extends ../layouts/default

include ../../components/forms/forms
include ../../components/hero/hero

append vars
  -
    page.name  = "service"
    page.title = "Гарантия и возврат"
    //- page.showHeader = true
    //- page.showTitle = true
    //- page.showBreadcrumbs = true

prepend scripts
  //- Скрипты только для этой страницы

block content
  section.content-section
    +hero("/assets/img/content/banner-service.jpg", "/assets/img/content/banner-service-small.jpg")

    h2.content-section__title Гарантийное обслуживание
    p.mb-4 Гарантийный срок — это период, во время которого клиент, обнаружив недостаток товара, вправе потребовать производителя или продавца устранить дефект. Срок гарантии для каждой товарной позиции указан в товарном чеке. При возникновении проблем с приобретенным товаром обратитесь в авторизованный сервисный центр производителя, а если товар с гарантией продавца (например, компьютеры собственной сборки) — в сервисный центр нашего магазина. Любые вопросы, связанные с гарантийным обслуживанием, вы можете задать по телефону <a href="tel:+7 800 250-90-45">+7 800 250-90-45</a> (звонок бесплатный).

    h2.content-section__title Гарантия на собранные компьютеры
    p.mb-4 При заказе сборки компьютера из комплектующих мы предоставляем полную гарантию на компьютер 2 года, вне зависимости от срока гарантии на каждый компонент. Это значит, что на некоторые комплектующие гарантия станет меньше, чем при покупке по отдельности (уменьшится до двух лет), а на некоторые — больше (увеличится до двух лет). Мы уверены, что такая формула выгодна для клиента! Ведь гарантия увеличивается на компоненты с механическими частями, у которых больший риск выхода из строя (например, блоки питания, вентиляторы или оптические приводы) и уменьшается на товары, которые почти никогда не ломаются (например, процессоры или память).
    +form-service-check()

  section.content-section
    img(src="/assets/img/content/box.png", alt="").mb-2
    h2.content-section__title Возврат исправного товара
    p Вы вправе вернуть или обменять исправный товар на аналогичный в течение 14 дней, не считая дня покупки.
    p Если вы приобретали товар дистанционно, можно отказаться от него в любое время до его передачи, а также в течение семи дней после передачи. При этом стоимость доставки товара и отправки его обратно не возмещается.
    p При возврате или обмене исправного товара должны быть сохранены товарный вид, целостность упаковки и комплектация. Наличие следов эксплуатации может стать основанием для отказа.
    p Часть товаров в нашем магазине, относятся к категории технически сложных, которые не подлежат безусловному возврату или обмену. В исключительных случаях мы готовы пойти навстречу клиенту и принять или обменять комплектующие, с которыми  возникла проблема несовместимости. На остальные технически сложные товары услуга возврата исправного товара не распространяется.

  section.content-section
    img(src="/assets/img/content/box.png", alt="").mb-2
    h2.content-section__title Возврат неисправных товаров
    p Если вы обнаружили недостатки товара при эксплуатации, вы вправе вернуть или заменить товар на основаниях и в сроки, установленные Законом РФ «О защите прав потребителей». Для этого обратитесь в наш сервисный центр. Если вы приобретали товар дистанционно, перед отправкой товара свяжитесь с нашим сервисным центром, иначе мы не можем гарантировать получение вашего отправления.
    p Если в технически сложном товаре обнаружатся недостатки в течение 15 дней с момента покупки, вы вправе вернуть его с возмещением денежных средств либо потребовать замены на товар этой же или другой марки (модели, артикула) с перерасчетом цены. По истечении этого срока указанные требования подлежат удовлетворению в одном из следующих случаев:
    ul.ms-4.mb-4
      li обнаружен существенный недостаток
      li нарушены сроки устранения недостатков
      li товар не может использоваться в совокупности более тридцати дней в течение каждого года гарантийного срока в связи с необходимостью устранения производственных недостатков

    p.mb-4.fs-5.text-light Технически сложный товар — это потребительский товар длительного пользования, который имеет сложное внутреннее устройство и выполняет не менее двух пользовательских функций на высоко технологическом уровне с использованием различных энергоресурсов, имеющий инструкцию по эксплуатации, правила безопасного использования и гарантийный срок.

    p Заявление на возврат рассматривается в кратчайшие сроки (после получения нами товара), в редких случаях эта процедура может занять до 10 дней. Товар необходимо отправить на адрес нашего сервисного центра (125167, г. Москва, Театральная аллея, д.3, стр.1 ). Сообщите номер отправления по электронной почте <a href="mailto:sc@ogo1.ru">sc@ogo1.ru</a>.
    p Возврат средств осуществляется тем же способом, каким была оплачена покупка. При оплате банковской картой, средства будут возвращены на ту же карту, срок зачисления может составлять до 30 дней в зависимости от банка и платежных систем (Mastercard, VISA).
    p Любые вопросы, связанные с возвратом товара вы можете задать по телефону <a href="tel:+7 800 250-90-45">+7 800 250-90-45</a> (звонок бесплатный).

  section.content-section
    h2.content-section__title Сервисный центр ОГО!
    p 125167, г. Москва, Театральная аллея, д.3, стр.1
    p Часы работы: ежедневно 10:00 - 22:00 МСК
    p <a href="tel:+7 800 250-90-45">+7 800 250-90-45</a> (звонок бесплатный)
    p <a href="mailto:sc@ogo1.ru">sc@ogo1.ru</a>