extends ../layouts/default
include ../../components/listing/listing

append vars
  -
    page.name  = "wishlist"
    page.title = "Избранное"
    //- page.showHeader = true
    //- page.showTitle = true
    //- page.showBreadcrumbs = true

prepend scripts
  //- Скрипты только для этой страницы

block content
  section.content-section.mb-0.p-0
    +listing-section(filters=false, pagination=false, columns=4)
