.field {
  $block: &;

  &--type-password {
    #{$block}__field {
      position: relative;

      input {
        padding-right: 40px;
      }
    }

    #{$block}__show-password {
      display: block;
      position: absolute;
      // padding: 0;
      top: 50%;
      right: 0;
      color: var(--gray-500, $gray-500);
      border: none;
      text-decoration: none;
      background-color: transparent;
      transform: translateY(-50%);

      .svg-icon {
        pointer-events: none;
      }

      &:hover {
        color: var(--primary, $primary);
        text-decoration: none;
      }
    }

    input[type="password"] + #{$block}__show-password {
      .svg-icon:nth-child(1) {
        display: block;
      }
      .svg-icon:nth-child(2) {
        display: none;
      }
    }

    input[type="text"] + #{$block}__show-password {
      .svg-icon:nth-child(1) {
        display: none;
      }
      .svg-icon:nth-child(2) {
        display: block;
      }
    }
  }
}
