/* 23 fev */
.b-plate-product__icon.b-plate-product__icon--discount {
  color: #000 !important;
  width: 49px !important;
  height: 46px !important;
  margin-left: -6px;
  padding: 0 !important;
  line-height: 49px !important;
  background-color: transparent !important;
  border-radius: 0 !important;
  background: url('../img/decor/23fev/star.png')no-repeat center !important;
}
.shops .shops__info-count {
  color: #000!important;
  line-height: 46px !important;
  background: url('../img/decor/23fev/star@2x.png')no-repeat center / contain  !important;
  border: none !important;
  border-radius: 0 !important;
}
/* 23fev */