@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}

@mixin custom-scrollbar($width: 4px, $color: var(--gray-400, $gray-400), $background: var(--gray-100, $gray-100), $radius: var(--border-radius, $border-radius)) {
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: $width;
    height: $width;
    // margin-right: $width;
  }
  &::-webkit-scrollbar-track {
    background: $background;
    border-radius: $radius;
    // box-shadow: inset 0 0 $width rgba(0, 0, 0, 0.05);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: $radius;
  }
}

@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
