extends ../../views/layouts/default

append vars
  -
    page.name  = "thermos"
    page.title = "Бренд-зона Thermos"
    //- page.showHeader = true
    //- page.showTitle = true
    //- page.showBreadcrumbs = true

//- Скрипты только для этой страницы
append scripts

append styles
  link(rel="stylesheet" href="./css/style.css")

block content
  section.thermos
    section.thermos-header
      img.thermos-logo(src="./img/logo.svg", alt="thermos")

    section.thermos-slider
      .h2.text-center [cтандартный слайдер]

    section.thermos-section
      .container
        .row.g-3.g-lg-4.row-cols-2.row-cols-md-3.row-cols-lg-4
          .col
            a.category-tile(href="#")
              .category-tile__img
                img(src="./img/category-termosy-dlya-napitkov.png", alt="Термосы для напитков")
              span.category-tile__title Термосы для напитков
          .col
            a.category-tile(href="#")
              .category-tile__img
                img(src="./img/category-termosy-dlya-edy.png", alt="Термосы для еды")
              span.category-tile__title Термосы для еды
          .col
            a.category-tile(href="#")
              .category-tile__img
                img(src="./img/category-universalnye-termosy.png", alt="Универсальные термосы")
              span.category-tile__title Универсальные термосы
          .col
            a.category-tile(href="#")
              .category-tile__img
                img(src="./img/category-termokruzhki.png", alt="Термокружки")
              span.category-tile__title Термокружки
          .col
            a.category-tile(href="#")
              .category-tile__img
                img(src="./img/category-detskiye-termosy.png", alt="Детские термосы")
              span.category-tile__title Детские термосы
          .col
            a.category-tile(href="#")
              .category-tile__img
                img(src="./img/category-termosumki.png", alt="Термосумки")
              span.category-tile__title Термосумки
          .col
            a.category-tile(href="#")
              .category-tile__img
                img(src="./img/category-akkumulyatory-temperatury.png", alt="Аккумуляторы температуры")
              span.category-tile__title Аккумуляторы температуры

    section.thermos-section
      h2.thermos-section__title О бренде thermos
      .thermos-materials
        .thermos-material
          .thermos-material__content
            h2.thermos-section__subtitle.thermos-section__subtitle--has-divider.thermos-section__subtitle--left Самый первый в мире
            p THERMOS® – всемирно известный бренд, ставший родоначальником целой отрасли по производству изотермических товаров. Благодаря успеху продукции торговой марки THERMOS бренд стал именем нарицательным, и сегодня любой сосуд, сохраняющий температуру содержимого, мы называем словом «термос». Более века компания THERMOS создает оригинальные изотермические товары для еды и напитков, обеспечивающие удобство и комфорт для здорового и полноценного питания в любых жизненных ситуациях.
          .thermos-material__img-wrapper
            img.thermos-material__img(src="./img/brand-1.jpg", alt="Самый первый в мире")
        .thermos-material
          .thermos-material__content
            h2.thermos-section__subtitle.thermos-section__subtitle--has-divider.thermos-section__subtitle--left Настоящему качеству – 120 лет
            p Автор идеи сохранения температурного режима с помощью вакуумной колбы – сэр Джеймс Дьюар, шотландский физик и химик конца XIX века – использовал своё изобретение исключительно в научных целях. Идея применить изотермический сосуд в бытовом назначении принадлежит его ученику, владельцу фабрики стеклянных медицинских инструментов Рейнгольду Бургеру из Мюнхена. Именно он усовершенствовал конструкцию: соединил колбу с металлическим корпусом, добавил герметичную пробку, систему амортизации и крышку-стаканчик. Рейнгольд Бургер наладил выпуск «вакуумных фляжек», впоследствии получивших название «thermos» - от древнегреческого слова «тёплый».
          .thermos-material__img-wrapper
            img.thermos-material__img(src="./img/brand-2.jpg", alt="Настоящему качеству – 120 лет")
        .thermos-material
          .thermos-material__content
            h2.thermos-section__subtitle.thermos-section__subtitle--has-divider.thermos-section__subtitle--left Лидер отрасли изотермических товаров
            ul
              li Более вековой опыт производства
              li Собственные заводы, строгий контроль качества
              li Высокие температурные характеристики
              li Уникальные инновационные технологии, 250 мировых патентов на инженерные разработки
              li Эко-материалы премиум класса
              li Оригинальный дизайн
              li Широкая ассортиментная линейка
              li Сервисное обслуживание по гарантийным обязательствам
              li Долгий срок службы
              li Соответствие Международным стандартам качества
              li Торговая марка зарегистрирована более, чем в 120 странах
          .thermos-material__img-wrapper
            img.thermos-material__img(src="./img/brand-3.jpg", alt="Лидер отрасли изотермических товаров")
        .thermos-material
          .thermos-material__content
            h2.thermos-section__subtitle.thermos-section__subtitle--has-divider.thermos-section__subtitle--left Уникальные инновационные технологии
            p Высокотехнологичные разработки компании THERMOS направлены на создание товаров с безупречными потребительскими свойствами, обеспечивающими максимальный комфорт в использовании. Собственные технологии позволяют делать термосы лёгкими и компактными, прочными и долговечными, сохраняющими температуру, вкус и аромат напитков и готовых блюд рекордно долгое время:
            ul
              li Технология глубокой вакуумизации THERMOS® обеспечивает высокие теплоизолирующие свойства изделий.
              li Технология бесшовной сварки STT делает термосы прочными, увеличивая срок их службы.
              li Оригинальные конструкции термосов и деталей усиливают теплосберегающие функции изделий, обеспечивают герметичность и удобство в эксплуатации и уходе.
          .thermos-material__img-wrapper
            img.thermos-material__img(src="./img/brand-4.jpg", alt="Уникальные инновационные технологии")
        .thermos-material
          .thermos-material__content
            h2.thermos-section__subtitle.thermos-section__subtitle--has-divider.thermos-section__subtitle--left Безопасные материалы премиум категории
            p Все материалы, используемые в производстве термосов торговой марки THERMOS, экологически чистые и абсолютно безопасны для здоровья, не выделяют и не впитывают посторонние запахи, инертны по отношению к содержимому:
            ul
              li Корпус и колба: прочная высококачественная пищевая нержавеющая сталь 18/8 AISI 304 Stainless Steel.
              li Крышки, пробки, поильники - термостойкие и ударопрочные сополимеры нового поколения, не содержат бисфенол-А (BPA free) и поливинилхлорид (PVC free), устойчивые к химическому воздействию, обладают высокой механической прочностью
              li Прокладки и уплотнители из инертного пищевого силикона, функционального и долговечного, гипоаллергенного и гигиеничного материала, устойчивого к высоким температурам, обеспечивают герметичность изделия.
          .thermos-material__img-wrapper
            img.thermos-material__img(src="./img/brand-5.jpg", alt="Безопасные материалы премиум категории")

    section.thermos-section
      .container
        h2.thermos-section__title Продукция thermos
        h3.thermos-section__subtitle.thermos-section__subtitle--has-divider Термосы для напитков
        p.text-center Семейные прогулки в лесу, дружеские посиделки в парке, длительные путешествия или маршруты выходного дня, поездки на охоту или рыбалку невозможно представить без термоса. Классические и современные, лёгкие и компактные термосы THERMOS® прекрасно справляются со своими обязанностями – длительно сохраняют напитки не только горячими или холодными, но и аппетитными и ароматными.
        p.text-center
          a.thermos-button(href="#") Смотреть всё
      .thermos-subsection
        .container
          .row.g-3.g-lg-4.row-cols-2
            .col
              a.thermos-tile(href="#")
                .thermos-tile__img
                  img(src="./img/napitki-termosy-iz-korrozionnostoykoy-stali.png", alt="Термосы из коррозионностойкой стали")
                span.thermos-tile__title Термосы из коррозионностойкой стали
            .col
              a.thermos-tile(href="#")
                .thermos-tile__img
                  img(src="./img/napitki-termosy-so-steklyannoy-kolboy.png", alt="Термосы со стеклянной колбой")
                span.thermos-tile__title Термосы со стеклянной колбой
      .thermos-subsection
        .thermos-materials
          .thermos-material
            .thermos-material__content
              h2.thermos-section__subtitle.thermos-section__subtitle--left Серия NCB
              p.thermos-section__desc Легендарный бестселлер
              p Воплощение безупречного качества и инновационных технологий THERMOS®. Легендарный термос NCB занимает лидирующие позиции по температурным характеристикам и сроку службы. Надёжный и практичный термос NCB пользуется невероятной популярностью среди путешественников, охотников и рыболовов, спортсменов и сотрудников экстренных служб. Он выдержит любые экстремальные условия – корпус и основание усилены бамперами из ударопрочного пластика, а стопперы фиксируют термос в горизонтальном положении. Складная ручка и съёмный регулируемый ремень - для удобства переноски в руке или на плече. Угостить друга можно, используя дополнительную чашку. При наливании напитка не требуется выкручивать пробку полностью – указатели на верхней части пробки подскажут направление потока жидкости.
              a.thermos-button(href="#") Купить
            .thermos-material__img-wrapper
              img.thermos-material__img(src="./img/napitki-ncb.jpg", alt="Серия NCB")
          .thermos-material
            .thermos-material__content
              h2.thermos-section__subtitle.thermos-section__subtitle--left Серия KING
              p.thermos-section__desc Идеальное воплощение нержавеющей стали
              p Элегантная серия KING остается самой узнаваемой и любимой во всём мире. Качественные характеристики линейки безупречны. Классический термос серии KING - уникальное сочетание дизайна в стиле американского ретро, современных технологий и материалов. Термос оснащён крышкой-чашкой из нержавеющей стали и термостойкого пластика, крепкой складной ручкой с рельефом на внутренней поверхности для удобства удержания в руке заполненного термоса, и теплосберегающей пробкой. Глубокая винтовая пробка имеет специальные пазы, позволяющие выливать напиток, не выкручивая её полностью.
              a.thermos-button(href="#") Купить
            .thermos-material__img-wrapper
              img.thermos-material__img(src="./img/napitki-king.jpg", alt="Серия KING")
          .thermos-material
            .thermos-material__content
              h2.thermos-section__subtitle.thermos-section__subtitle--left Серия FBB
              p.thermos-section__desc Надёжная классика в актуальном дизайне
              p Классические термосы серии FBB – визитная карточка компании THERMOS. Модели знаменитой серии показывают самые высокие результаты в испытаниях на прочность и уверенно держат лидирующие показатели по продолжительности удержания температур, выгодно отличаются от «одноклассников» лёгкостью, функциональностью, практичностью, а также длительным сроком службы. Благодаря своей популярности во всём мире модель выпускается уже более пяти десятилетий.
              a.thermos-button(href="#") Купить
            .thermos-material__img-wrapper
              img.thermos-material__img(src="./img/napitki-fbb.jpg", alt="Серия FBB")
          .thermos-material
            .thermos-material__content
              h2.thermos-section__subtitle.thermos-section__subtitle--left Cерия FFX
              p.thermos-section__desc Признанный лидер
              p Термос разработан специально для любителей экстремальных видов спорта и отдыха. Модель отличается облегчённой конструкцией и компактной формой – вес термоса составляет всего лишь 390 г при полезном объёме 900 мл. Поэтому термос комфортно носить в рюкзаке или сумке. Двойная винтовая пробка позволяет наливать напиток, не выкручивая её полностью, так как в ней предусмотрены специальные направляющие пазы для выливания содержимого – достаточно повернуть внутреннюю пробку на пол-оборота.
              a.thermos-button(href="#") Купить
            .thermos-material__img-wrapper
              img.thermos-material__img(src="./img/napitki-ffx.jpg", alt="Cерия FFX")
      .container
        h3.thermos-section__subtitle.thermos-section__subtitle--has-divider Термосы для еды
        p.text-center Идеальное решение для полноценного питания вне дома – в офисе, школе или в пути – прочные и долговечные термосы с широким горлышком. Они подходят для хранения горячих и холодных первых или вторых блюд. А еще они умеют готовить, например, гарниры и каши, которые можно заваривать кипятком. Большинство моделей оснащены складной ложкой из нержавеющей стали для удобства приёма пищи в любом месте и в нужное время.
        p.text-center
          a.thermos-button(href="#") Смотреть всё
      .thermos-subsection
        .container
          .row.g-3.g-lg-4
            .col
              .thermos-tile
                .thermos-tile__img
                  img(src="./img/eda-termosy-dlya-edy.png", alt="Термосы для еды")
      .thermos-subsection
        .thermos-materials
          .thermos-material
            .thermos-material__content
              h2.thermos-section__subtitle.thermos-section__subtitle--left Серия GUARDIAN
              p.thermos-section__desc Накормит всех
              p Здоровый образ жизни начинается… с термоса! Функциональные термосы GUARDIAN состоят из двух секций – ёмкости из пищевой нержавеющей стали и контейнера из термостойкого пищевого пластика, которые надёжно крепятся друг к другу. Термос с вакуумной изоляцией можно использовать для горячих и холодных блюд, а нижняя чаша пригодится для хранения овощей или фруктов, крекеров, орешков и других любимых закусок. Чтобы пообедать в нужное время и в любом месте, в комплект входит стальная ложка из нержавеющей стали. Для её гигиеничного хранения предусмотрена специальная ниша в пробке термоса, поэтому ложка никогда не потеряется. Термосы объёмом 0,5 или 0,8 л обеспечат вас запасом еды на весь активный день.
              a.thermos-button(href="#") Купить
            .thermos-material__img-wrapper
              img.thermos-material__img(src="./img/eda-guardian.jpg", alt="Серия GUARDIAN")
          .thermos-material
            .thermos-material__content
              h2.thermos-section__subtitle.thermos-section__subtitle--left Серия KING
              p.thermos-section__desc Везде как дома
              p Термосы со складной ложкой позволят пообедать или перекусить вкусной домашней едой в нужное время и в любом месте: в офисе, в школе или в пути. Заслуженную популярность термосы для еды серии KING получили благодаря высоким температурным показателям и комфортному использованию. Стильные новинки отличаются не только цветовой гаммой матового покрытия. Модели глубоких природных цветов дополнены усовершенствованной крышкой-пробкой, обеспечивающей дополнительное удобство при использовании термоса. Обновлённая конструкция крышки-пробки с системой сброса давления облегчает открывание термоса с горячим содержимым.
              a.thermos-button(href="#") Купить
            .thermos-material__img-wrapper
              img.thermos-material__img(src="./img/eda-king.jpg", alt="Серия KING")
      .container
        h3.thermos-section__subtitle.thermos-section__subtitle--has-divider Универсальные термосы
        p.text-center Классические универсальные термосы пользуются особой популярностью благодаря сочетанию функциональности и высоких температурных характеристик. Термосы с широким комбинированным горлышком предназначены как для хранения еды, так и напитков. Надёжные и вместительные, они идеально подходят для семейных выездов на природу, незаменимы для путешественников, охотников и рыболовов, специалистов экстренных служб, профессиональных водителей и всех, кто длительное время находится в дороге.
        p.text-center
          a.thermos-button(href="#") Смотреть всё
      .thermos-subsection
        .container
          .row.g-3.g-lg-4
            .col
              .thermos-tile
                .thermos-tile__img
                  img(src="./img/universal-universalnye-termosy.png", alt="Универсальные термосы")
      .thermos-subsection
        .thermos-materials
          .thermos-material
            .thermos-material__content
              h2.thermos-section__subtitle.thermos-section__subtitle--left Серия FDH
              p.thermos-section__desc Функциональный универсал
              p Благодаря широкому комбинированному горлышку термос удобно использовать как для напитков, так и для первых или вторых блюд. Оригинальная конструкция крышки-пробки позволяет пить непосредственно из термоса и легко открывать и закрывать его одной рукой. От случайного открывания защищает специальное блокировочное кольцо. Для удобства переноски предусмотрены съёмный регулируемый по длине ремень и складная ручка, а корпус усилен элементами из ударопрочного пластика.
              a.thermos-button(href="#") Купить
            .thermos-material__img-wrapper
              img.thermos-material__img(src="./img/universal-fhd.jpg", alt="Серия FDH")
      .container
        h3.thermos-section__subtitle.thermos-section__subtitle--has-divider Термокружки
        p.text-center Ещё недавно термос воспринимался как атрибут охотника, рыболова или путешественника, и, соответственно, использовался от случая к случаю. Современные инновационные технологии производства THERMOS позволяют создавать суперлёгкие и компактные термосы сити-формата с сохранением высоких температурных характеристик, которые предназначены для ежедневного и круглогодичного использования. Сегодня термосы THERMOS уверенно занимают свои места не только в рюкзаках, но и в деловых и школьных портфелях, в спортивных сумках и в дамских сумочках.
        p.text-center
          a.thermos-button(href="#") Смотреть всё
      .thermos-subsection
        .container
          .row.g-3.g-lg-4
            .col
              .thermos-tile
                .thermos-tile__img
                  img(src="./img/mugs-termokruzhki.png", alt="Термокружки")
      .thermos-subsection
        .thermos-materials.thermos-materials--reverse
          .thermos-material
            .thermos-material__content
              h2.thermos-section__subtitle.thermos-section__subtitle--left Серия JNL
              p.thermos-section__desc Всесезонный хит
              p Благодаря широкому комбинированному горлышку термос удобно использовать как для напитков, так и для первых или вторых блюд. Оригинальная конструкция крышки-пробки позволяет пить непосредственно из термоса и легко открывать и закрывать его одной рукой. От случайного открывания защищает специальное блокировочное кольцо. Для удобства переноски предусмотрены съёмный регулируемый по длине ремень и складная ручка, а корпус усилен элементами из ударопрочного пластика.
              a.thermos-button(href="#") Купить
            .thermos-material__img-wrapper
              img.thermos-material__img(src="./img/mugs-jnl.jpg", alt="Серия JNL")
          .thermos-material
            .thermos-material__content
              h2.thermos-section__subtitle.thermos-section__subtitle--left Серия FJM
              p.thermos-section__desc Большим и маленьким
              p Разнообразие в линейку термосов сити-формата внесли модели термокружек с трубочкой серии FJM. Миниатюрные термосы разработаны специально для активных и подвижных – даже если термос упадёт, из него не выльется ни капли напитка. Поэтому он идеально подойдёт для детишек, а также любителей спорта и фитнеса. Термокружка легко открывается в одно касание – достаточно нажать на клавишу на фронтальной части крышки-пробки. При этом крышка откидывается, фиксируется в открытом положении и не опрокидывается при питье. Размер термокружки удобен для удержания взрослой или детской рукой, подходит для подстаканников автомобиля и держателей велосипедов.
              a.thermos-button(href="#") Купить
            .thermos-material__img-wrapper
              img.thermos-material__img(src="./img/mugs-fjm.jpg", alt="Серия FJM")
          .thermos-material
            .thermos-material__content
              h2.thermos-section__subtitle.thermos-section__subtitle--left Серия FJK
              p.thermos-section__desc Больше газа
              p Теперь и для газированных напитков есть свой термос. Термобутылка FJK – настоящий подарок для любителей газированных напитков. Особая конструкция крышки-пробки позволяет безопасно открывать заполненный термос даже после его случайного встряхивания - пробка не вылетит и напиток не выльется стремительно через край. Крышка-пробка состоит из двух деталей с системой сброса давления, образующегося в закрытой ёмкости при хранении газированных жидкостей. На корпусе термоса не образуется конденсат от холодных жидкостей, поэтому термобутылка не скользит в руке. Скругленный край горлышка обеспечивает дополнительный комфорт при питье из термобутылки. Великолепный вид термобутылок создают уникальные покрытия с эффектом лёгкого мерцания.
              a.thermos-button(href="#") Купить
            .thermos-material__img-wrapper
              img.thermos-material__img(src="./img/mugs-fjk.jpg", alt="Серия FJK")
          .thermos-material
            .thermos-material__content
              h2.thermos-section__subtitle.thermos-section__subtitle--left Серия FFM
              p.thermos-section__desc Два в одном: термос + термокружка
              p Компактный термос серии FFM – современная версия классического термоса в сочетании с лучшими функциями термокружки сити-формата. Пить можно непосредственно из термоса благодаря удобному поильнику, не откручивая пробку при каждом использовании, а угостить напитком собеседника можно, используя крышку как чашку. Термос открывается одним нажатием на кнопку в верхней части крышки-пробки. Надёжная система блокировки защищает от её случайного открывания. Лёгкий и компактный термос станет великолепным стильным подарком для ценителей изящества и функциональности.
              a.thermos-button(href="#") Купить
            .thermos-material__img-wrapper
              img.thermos-material__img(src="./img/mugs-ffm.jpg", alt="Серия FFM")
          .thermos-material
            .thermos-material__content
              h2.thermos-section__subtitle.thermos-section__subtitle--left Серия JOO
              p.thermos-section__desc Микс свободы и спорт-шика
              p Стильные новинки на российском рынке – термокружки серии JOO, выполненные в спортивном дизайне. Эффектная термокружка пригодится не только во время активного отдыха, занятий спортом и фитнесом, но и в школе, офисе или институте. Термокружка проста в использовании и подойдет в том числе и детям. Она легко открывается и закрывается одним поворотом. Из термокружки комфортно пить благодаря скруглённому краю горлышка. Для удобства переноски в руке или крепления к рюкзаку или сумке крышка-пробка оснащена прочной откидной петлёй, надёжно прикреплённой к корпусу крышки. В сложенном виде петля интегрируется в поверхность крышки и плотно к ней прилегает. Компактные размеры термокружки позволяют размещать её в большинстве автомобильных подстаканников и велосипедных держателях.
              a.thermos-button(href="#") Купить
            .thermos-material__img-wrapper
              img.thermos-material__img(src="./img/mugs-joo.jpg", alt="Серия JOO")
          .thermos-material
            .thermos-material__content
              h2.thermos-section__subtitle.thermos-section__subtitle--left Серия JOJ
              p.thermos-section__desc Самый миниатюрный термос в мире
              p Серия JOJ – оригинальная линейка самых маленьких и мобильных термокружек в истории термосов. Каждая из них легко умещается на ладони, а носить мини-термосы можно не только в компактной сумочке, но даже в кармане. При этом они отличаются надёжностью и герметичностью – простая винтовая крышка-пробка с термостойкой силиконовой прокладкой плотно закрывается и защищает от случайных протеканий жидкостей. Открывается термокружка с пол-оборота. Термос приятно держать в руках, из него легко пить – диаметр горлышка составляет 3 см. Покрытия разных расцветок отличаются износостойкостью и сохранят первоначальный вид изделия на многие годы.
              a.thermos-button(href="#") Купить
            .thermos-material__img-wrapper
              img.thermos-material__img(src="./img/mugs-joj.jpg", alt="Серия JOJ")
      .container
        h3.thermos-section__subtitle.thermos-section__subtitle--has-divider Детские термосы
        p.text-center Такие же как у взрослых, только лучше! В линейке KIDS представлены уникальные модели для разных возрастных групп – для малышей и тех, кто постарше. Небьющиеся и практически невесомые термокружки и термосы для еды сделаны так, чтобы ребёнку было максимально комфортно ими пользоваться: просто открывать и закрывать, удобно держать в руке или разместить в рюкзачке. Термокружки оснащены поильниками плавной формы или трубочками для питья, а яркие расцветки приведут в восторг любого малыша.
        p.text-center Расписание жизни современных детей ни в чём не уступает взрослому таймингу - уроки и дополнительные занятия, танцы и футбол, английский и театральная студия. Теперь обеспечить полноценное питание ребёнка вне дома и соблюдение им питьевого режима, что необходимо для здоровья и правильного развития дочки или сыночка, стало намного проще с детскими термосами THERMOS®.
        p.text-center
          a.thermos-button(href="#") Смотреть всё
      .thermos-subsection
        .container
          .row.g-3.g-lg-4
            .col
              .thermos-tile
                .thermos-tile__img
                  img(src="./img/child-detskiye-termosy.png", alt="Детские термосы")
      .container
        h3.thermos-section__subtitle.thermos-section__subtitle--has-divider Термосумки
        p.text-center Изотермические сумки THERMOS® нашли широкое применение в повседневной жизни – их использование стало привычным в быту и на отдыхе. Термосумки THERMOS® выполняют не только функцию автономного портативного холодильника – они способны сохранять высокие температуры горячего содержимого в течение длительного времени. Поэтому термосумку можно использовать круглый год – в жаркое и холодное время года. Высокие температурные характеристики обеспечиваются благодаря технологиям многослойной термоизоляции IsoTec® и Flex-A-Guard®, а долгий срок службы, лёгкость, гигиеничность – за счёт прочных, износостойких и водонепроницаемых материалов, пригодных для контакта с пищевыми продуктами.
        p.text-center
          a.thermos-button(href="#") Смотреть всё
      .thermos-subsection
        .container
          .row.g-3.g-lg-4
            .col
              .thermos-tile
                .thermos-tile__img
                  img(src="./img/bags-termosumki.png", alt="Термосумки")
      .thermos-subsection
        .thermos-materials.thermos-materials--reverse
          .thermos-material
            .thermos-material__content
              h2.thermos-section__subtitle.thermos-section__subtitle--left Серия NESTING
              p.thermos-section__desc Термос может быть сумкой
              p Идеальный вариант для транспортировки продуктов и напитков из супермаркета в жару и в холод, для поездки на дачу или для отдыха на природе – сумка с многослойной термоизоляцией, защищающей содержимое от влияния температуры окружающей среды. Специальное покрытие ткани из термопластичного полиуретана (ТПУ) обладает водоотталкивающим эффектом, устойчивостью к воздействию ультрафиолета, жиров и масел. Для удобства переноски термосумки оснащены широкими ремнями, регулируемыми по длине. Благодаря боковым карабинам ремень легко отстёгивается в случае необходимости. Дополнительный комфорт обеспечивает качественная фурнитура, а благодаря потайным застёжкам-молниям с двумя бегунками термосумка быстро открывается и закрывается в любом направлении.
              a.thermos-button(href="#") Купить
            .thermos-material__img-wrapper
              img.thermos-material__img(src="./img/bags-nesting.jpg", alt="Серия NESTING")
          .thermos-material
            .thermos-material__content
              h2.thermos-section__subtitle.thermos-section__subtitle--left Серия ELEMENT 5
              p.thermos-section__desc Совершенная термоизоляция
              p Современная линейка ELEMENT 5 представлена широким разнообразием термосумок по объёму, форме и функционалу. И компактные, и вместительные термосумки оснащены регулируемыми по длине ремнями для удобства переноски в руке или на плече, а также карманами для полезных мелочей. Во многих моделях предусмотрены откидные клапаны для быстрого доступа к содержимому термосумки. Ряд моделей, состоящих из нескольких автономных изотермических отделений, позволяют использовать термосумку одновременно для хранения охлаждённых продуктов и подогретых блюд. Стильный дизайн подчеркивается сочетанием тканей нескольких оттенков благородного серого цвета.
              a.thermos-button(href="#") Купить
            .thermos-material__img-wrapper
              img.thermos-material__img(src="./img/bags-element-5.jpg", alt="Серия ELEMENT 5")
          .thermos-material
            .thermos-material__content
              h2.thermos-section__subtitle.thermos-section__subtitle--left Серия VALUE
              p.thermos-section__desc На пикник и не только
              p Классические термосумки популярной серии отличаются лёгкостью и практичностью. Модельный ряд широк: от миниатюрных термосумок для ланч-боксов до объёмных – для продуктового шоппинга. Термосумка незаменима для похода в супермаркет – это экономичная и экологичная замена полиэтиленовым пакетам. Термосумки легко складываются и не занимают много места при хранении, а благодаря рефлексивным свойствам материалов также легко восстанавливают свою первоначальную форму. Прочные, водостойкие материалы не впитывают и не выделяют посторонние запахи, обеспечивают длительный срок службы изделия.
              a.thermos-button(href="#") Купить
            .thermos-material__img-wrapper
              img.thermos-material__img(src="./img/bags-value.jpg", alt="Серия VALUE")
      .container
        h3.thermos-section__subtitle.thermos-section__subtitle--has-divider Аккумуляторы температуры
        p.text-center Аккумуляторы температуры различаются по функционалу, размеру, форме и наполнителю. Они могут использоваться как для поддержания холода, так и тепла. В двух режимах работают мягкие и гибкие аккумуляторы температуры, наполнителем в которых является гелевый раствор с антибактериальной добавкой. Герметичные хладоэлементы, заполненные солевым раствором, имеют максимально плоскую форму для удобства размещения в морозилке, а затем – в термосумке. Это практичный заменитель льда, позволяющий существенно увеличить срок хранения замороженных продуктов или холодных напитков в требуемом температурном режиме. Оба вида аккумуляторов температуры – многократного использования и имеют неограниченное количество циклов заморозки-разморозки.
        p.text-center
          a.thermos-button(href="#") Смотреть всё
      .thermos-subsection
        .container
          .row.g-3.g-lg-4
            .col
              .thermos-tile
                .thermos-tile__img
                  img(src="./img/accum-akkumulyatory-temperatury.png", alt="Аккумуляторы температуры")