mixin shop-slider()
  .shop-slider.swiper&attributes(attributes)
    .shop-slider__wrapper.swiper-wrapper
      .shop-slider__slide.swiper-slide
        img(src="/assets/img/content/shop-dinamo-1.jpg").shop-slider__image
      .shop-slider__slide.swiper-slide
        img(src="/assets/img/content/shop-dinamo-2.jpg").shop-slider__image
      .shop-slider__slide.swiper-slide
        img(src="/assets/img/content/shop-dinamo-3.jpg").shop-slider__image
      .shop-slider__slide.swiper-slide
        img(src="/assets/img/content/shop-dinamo-4.jpg").shop-slider__image
      .shop-slider__slide.swiper-slide
        img(src="/assets/img/content/shop-dinamo-5.jpg").shop-slider__image
      .shop-slider__slide.swiper-slide
        img(src="/assets/img/content/shop-dinamo-6.jpg").shop-slider__image
      .shop-slider__slide.swiper-slide
        img(src="/assets/img/content/shop-dinamo-7.jpg").shop-slider__image
      .shop-slider__slide.swiper-slide
        img(src="/assets/img/content/shop-dinamo-8.jpg").shop-slider__image
      .shop-slider__slide.swiper-slide
        img(src="/assets/img/content/shop-dinamo-9.jpg").shop-slider__image
      .shop-slider__slide.swiper-slide
        img(src="/assets/img/content/shop-dinamo-10.jpg").shop-slider__image
    .shop-slider__prev.swiper-button-prev
    .shop-slider__next.swiper-button-next