.main-banners {
  border-top: none;
  border-bottom: none;

  &-slider {
    &.swiper-initialized .banner-tile {
      opacity: 1;
    }
    &__pagination {
      position: static;
    }

    &:not(.swiper-initialized) {
      .main-banners-slider__wrapper {
        display: grid;
        gap: $spacer; //16
        grid-template-columns: 1fr;
        .main-banners-slider__slide {
          width: 100%;
        }
      }
    }
  }

  &-grid {
    display: grid;
    gap: $spacer; //16
    grid-template-columns: 1fr;
    &__cell {
      width: 100%;
    }
  }

  @include media-breakpoint-up(md) {
    &-slider {
      &:not(.swiper-initialized) {
        .main-banners-slider__wrapper {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
          gap: $spacer * 1.5;
        }
      }
    }

    &-grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: $spacer * 1.5;
    }
  }

  @include media-breakpoint-up(lg) {
    &-slider {
      &:not(.swiper-initialized) {
        .main-banners-slider__wrapper {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: auto;
          gap: $spacer * 1.5;
        }
        .main-banners-slider__slide:nth-child(n+7) {
          display: none;
        }
      }
    }

    &-slider__slide {
      aspect-ratio: 197 / 77;
    }
  }
}