mixin pay-systems()
  .pay-systems&attributes(attributes)
    .pay-system
      img(src="/assets/img/icons/mastercard_logo.png", class="pay-system__img" alt="Mastercard")
    .pay-system
      img(src="/assets/img/icons/visa_logo.png", class="pay-system__img" alt="Visa")
    .pay-system
      img(src="/assets/img/icons/mir_logo.png", class="pay-system__img" alt="МИР")
    .pay-system
      img(src="/assets/img/icons/sbercredit_logo.png", class="pay-system__img" alt="Сберкредит")
