mixin accordion()
  .accordion.js-accordion&attributes(attributes)
    .accordion-item.js-accordion-item
      .accordion-header.js-accordion-header
        | Заголовок
      .accordion-body.js-accordion-body
        | Контент